VITE_APP_NAME=xxxx
VITE_APP_VERSION=xxxx
VITE_APP_ENV=xxxx
VITE_AUTH_GATEWAY_API_URL=xxxx
VITE_OPENMRS_API_URL=xxxx
VITE_PORTAL_API_URL=xxxx
VITE_DEBUG_MODE=xxxx
VITE_API_TIMEOUT=xxxx
VITE_EMR_MIDDLEWARE_API_URL=xxxx

VITE_FIREBASE_API_KEY=xxxx
VITE_FIREBASE_AUTH_DOMAIN=xxxx
VITE_FIREBASE_PROJECT_ID=xxxx
VITE_FIREBASE_STORAGE_BUCKET=xxxx
VITE_FIREBASE_MESSAGING_SENDER_ID=xxxx
VITE_FIREBASE_APP_ID=xxxx
VITE_FIREBASE_VAPID_KEY=xxxx

VITE_ENABLE_SITE_CAPTCHA=xxxx
VITE_RECAPTCHA_SITE_KEY=xxxx
